.navbar {
  height: 55px;
}

.navbar {

  .navbar-nav a {
    font-size: 18px;
    margin-top:10px;
    margin-left: 15px;
  }

  .navbar-brand {
    padding: 0;
    height: auto;
  }

  .logo {
    height: 55px;
    padding: 2px;

  }

}
